###### Save this file to config.py and edit the variables to your needs#######


srcpath = "path/to/file"
concurrencyLimit = 250

userName = "username"
repoName = "reponame"
tailrToken = "token"
contentType = "application/n-triples"

urlOutputfileName = "graphUrls.md"

# in this file every key, that was failed to push will be saved
failedRequestsOutputfilename = "failedUrls.md"
# in this file every quad containing to a key, that was failed to push to will be saved
failedRequestsTriplesFilename = "failedTriples.md"

dataFilename = 'data_sorted2.nq.gz'


useOwnDate = False

# if this is used current folder has to have format /YYYYMMDD
# hour, minutes and saconds currently not used
getDateFromPath = False

# these are only needed, if    useOwnDate = True && getDateFromPath == False
year = "2015"
month = "07"
day = "12"
hour = "00"
minutes = "00"
seconds = "00"
uploadDate = year+"-"+month+"-"+day+"-"+hour+":"+minutes+":"+seconds